<a href="https://colab.research.google.com/github/rajarishiR/programm/blob/main/mongo_db_performing_curd_operations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [34]:
import pymongo

In [35]:
rishi = pymongo.MongoClient("mongodb://rishi128:rishi128128@cluster0-shard-00-00.4jklp.mongodb.net:27017,cluster0-shard-00-01.4jklp.mongodb.net:27017,cluster0-shard-00-02.4jklp.mongodb.net:27017/myFirstDatabase?ssl=true&replicaSet=atlas-3slw5v-shard-0&authSource=admin&retryWrites=true&w=majority")

In [36]:
#TELEPHONE DIRECTORY CURD OPERATION

In [37]:
db1 = rishi["TELEPHONE-DIRECTORY"] # creating a database

In [38]:
db1.create_collection("Directory") # creating a collections

Collection(Database(MongoClient(host=['cluster0-shard-00-02.4jklp.mongodb.net:27017', 'cluster0-shard-00-01.4jklp.mongodb.net:27017', 'cluster0-shard-00-00.4jklp.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, replicaset='atlas-3slw5v-shard-0', authsource='admin', retrywrites=True, w='majority', tls=True), 'TELEPHONE-DIRECTORY'), 'Directory')

In [39]:
# adding records to the collections

In [40]:
db1.Directory.insert_many([{"name":"arun","phone_number":9487503782,"location":"chennai","age":19},{"name":"lokesh","phone_number":9487545682,"location":"madurai","age":26},{"name":"kamal","phone_number":9486785682,"location":"trichy","age":20},{"name":"vijay","phone_number":6387545682,"location":"thirunelveli","age":36},{"name":"krishna","phone_number":6734545682,"location":"pondi","age":39},{"name":"deva","phone_number":7847545682,"location":"salem","age":40}])

In [41]:
x = db1.Directory.find()
for i in x:
  print(i)

{'_id': ObjectId('6223a2c1c32b830870eb8430'), 'name': 'arun', 'phone_number': 9487503782, 'location': 'chennai', 'age': 19}
{'_id': ObjectId('6223a2c1c32b830870eb8431'), 'name': 'lokesh', 'phone_number': 9487545682, 'location': 'madurai', 'age': 26}
{'_id': ObjectId('6223a2c1c32b830870eb8432'), 'name': 'kamal', 'phone_number': 9486785682, 'location': 'trichy', 'age': 20}
{'_id': ObjectId('6223a2c1c32b830870eb8433'), 'name': 'vijay', 'phone_number': 6387545682, 'location': 'thirunelveli', 'age': 36}
{'_id': ObjectId('6223a2c1c32b830870eb8434'), 'name': 'krishna', 'phone_number': 6734545682, 'location': 'pondi', 'age': 39}
{'_id': ObjectId('6223a2c1c32b830870eb8435'), 'name': 'deva', 'phone_number': 7847545682, 'location': 'salem', 'age': 40}

In [42]:
x = db1.Directory.find({},{"_id":0})
for i in x:
  print(i)

{'name': 'arun', 'phone_number': 9487503782, 'location': 'chennai', 'age': 19}
{'name': 'lokesh', 'phone_number': 9487545682, 'location': 'madurai', 'age': 26}
{'name': 'kamal', 'phone_number': 9486785682, 'location': 'trichy', 'age': 20}
{'name': 'vijay', 'phone_number': 6387545682, 'location': 'thirunelveli', 'age': 36}
{'name': 'krishna', 'phone_number': 6734545682, 'location': 'pondi', 'age': 39}
{'name': 'deva', 'phone_number': 7847545682, 'location': 'salem', 'age': 40}

In [43]:
# inserting records into the collection

In [46]:
db1.Directory.update_one({"name":"arun"},{"$set":{"gender":"male"}})

In [47]:
db1.Directory.update_one({"name":"arun"},{"$set":{"height":"160cms"}})

In [48]:
# deleting records

In [52]:
db1.Directory.delete_one({"gender":"male"})

In [56]:
 x = db1.Directory.find({},{"_id":0})
 for i in x:
   print(i)

{'name': 'lokesh', 'phone_number': 9487545682, 'location': 'madurai', 'age': 26}
{'name': 'kamal', 'phone_number': 9486785682, 'location': 'trichy', 'age': 20}
{'name': 'vijay', 'phone_number': 6387545682, 'location': 'thirunelveli', 'age': 36}
{'name': 'krishna', 'phone_number': 6734545682, 'location': 'pondi', 'age': 39}
{'name': 'deva', 'phone_number': 7847545682, 'location': 'salem', 'age': 40}